<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间   如果sqlSession对象要找到  selelct的话通过  命名空间。select_user_info-->
<mapper namespace="com.lyl.cloudfactory.dao.EquipmentDao">
    <!--根据客户编号获取客户信息   提供给增删改查操作   的路径-->
    <!-- parameterType="Integer"     传递参数 -->
    <!-- resultType="com.dao.User"   返回对象 -->
    <!-- #{}就是占位符 -->

    <!--    查询标签-->
    <select id="getEquipmentByEquipmentID" parameterType="String"
            resultType="Equipment">
        select * from Equipment where equipmentID = #{equipmentID}
    </select>


    <select id="getEquipmentByName" parameterType="String"
            resultType="Equipment">
        select * from Equipment where name = #{name}
    </select>

    <select id="getEquipmentByType" parameterType="String"
            resultType="Equipment">
        select * from Equipment where type = #{type}
    </select>

    <select id="getEquipmentByEquipmentState" parameterType="String"
            resultType="Equipment">
        select * from Equipment where equipmentState = #{equipmentState}
    </select>
    <select id="getEquipmentByHireState" parameterType="String"
            resultType="Equipment">
        select * from Equipment where hireState = #{hireState}
    </select>




    <select id="getEquipmentList"
            resultType="Equipment">
        select * from Equipment
    </select>

    <select id="getEquipmentListByFactoryAccount" parameterType="String"
            resultType="Equipment">
        select * from Equipment where belongFactoryAccount =#{belongFactoryAccount}
    </select>


    <!--    添加标签-->
    <insert id="addEquipment" parameterType="Equipment">
        insert into Equipment(equipmentID,belongFactoryAccount,name,type,specifications,detail,equipmentState,hireState)
        values(#{equipmentID},#{belongFactoryAccount},#{name},#{type},#{specifications},#{detail},#{equipmentState},#{hireState})
    </insert>
    <!--删除标签-->
    <delete id="deleteEquipment" parameterType="String">
        delete from Equipment where equipmentID = #{equipmentID}
    </delete>
    <!--    更新标签-->

    <update id="updateEquipment" parameterType="Equipment">
        update Equipment set
                             equipmentID=#{equipmentID},belongFactoryAccount=#{belongFactoryAccount},name=#{name},type=#{type},specifications=#{specifications},detail=#{detail},equipmentState=#{equipmentState},hireState=#{hireState}
        where equipmentID = #{equipmentID}

    </update>
</mapper>

